<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BAT 2.0 Automation" verbose="1" parallel="methods"
	thread-count="25" preserve-order="false" data-provider-thread-count="30">

	<!-- <test name="NonBooking">
		<classes>
			<class name="com.itqa.tests.NonBookingTestIT" />
		</classes>
	</test> -->

	<test name="Bat 2.0">
		<classes>
		   	<class name="com.itqa.tests.WebBookingTestIT" />
			<class name="com.itqa.tests.TABookingTestIT" />
			<class name="com.itqa.tests.CCBookingTestIT" />
			<class name="com.itqa.tests.NonBookingTestIT" />
		</classes>
	</test>    

</suite>      



